<section class="subscription-form">
    <form action="https://tinyletter.com/blevinson" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/blevinson', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <div class="subscribe-input">
            <p>
                <input type="email" name="email" id="email" required="" placeholder="Email Address ↵" title="Email Address">
            </p>
        </div>
        <input type="hidden" value="1" name="embed"/>
        <input type="submit" value="Subscribe" />
    </form>
    <section class="entry-content">
        <div class="subscribe-message">
            Keep up with my latest projects, my weekly media diet, and articles about tech and life.
        </div>
    </section>
</section>